<div class="row">
    <div class="offset-lg-1 col-lg-10">

        <!-- Andy -->
        <div class="card text-center">
            <div class="row">

                <div class="col-12 col-lg-5">
                    <div class="card-img-top">
                        <img class="artist-image img-responsive rounded" src="../../assets/artists/andy.png" alt="Card image cap">
                    </div>
                </div>

                <div class="col-12 col-lg-7 text-col">
                    <div class="card-body">
                        <h4 class="card-title">Andy McConnell's family cocaine hour</h4>
                        <p class="card-text">Variety show debauchery</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- Ahm -->
        <div class="card text-center">
            <div class="row">

                <div class="col-12 col-lg-7 text-col">
                    <div class="card-body">
                        <h4 class="card-title">Ahm</h4>
                        <p class="card-text">Performing all his old smash hits including but not limited to Odium and Hour Of Death</p>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="card-img-top">
                        <img class="artist-image img-responsive rounded" src="../../assets/artists/andym.jpg" alt="Card image cap">
                    </div>
                </div>

            </div>
        </div>

        <!-- Arrom -->
        <div class="card text-center">
            <div class="row">

                <div class="col-12 col-lg-5">
                    <div class="card-img-top">
                        <img class="artist-image img-responsive rounded" src="../../assets/artists/mel.jpg" alt="Card image cap">
                    </div>
                </div>

                <div class="col-12 col-lg-7 text-col">
                    <div class="card-body">
                        <h4 class="card-title">Arrom</h4>
                        <p class="card-text">Comfort wine and stoned belly dancing</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- Astral Wizard -->
        <div class="card text-center">
            <div class="row">

                <div class="col-12 col-lg-7 text-col">
                    <div class="card-body">
                        <h4 class="card-title">Astral Wizard</h4>
                        <p class="card-text">Andy can you please write sarahs. No rusj</p>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="card-img-top">
                        <img class="artist-image img-responsive rounded" src="../../assets/artists/sarah.jpg" alt="Card image cap">
                    </div>
                </div>

            </div>
        </div>

        <!-- Bob Jungles -->
        <div class="card text-center">
            <div class="row">

                <div class="col-12 col-lg-5">
                    <div class="card-img-top">
                        <img class="artist-image img-responsive rounded" src="../../assets/artists/rob.jpg" alt="Card image cap">
                    </div>
                </div>

                <div class="col-12 col-lg-7 text-col">
                    <div class="card-body">
                        <h4 class="card-title">Bob Jungles</h4>
                        <p class="card-text">Most famous for riding an ostrich</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- DJANE -->
        <div class="card text-center">
            <div class="row">

                <div class="col-12 col-lg-7 text-col">
                    <div class="card-body">
                        <h4 class="card-title">DJANE</h4>
                        <p class="card-text">B A B Y M A K I N G H O U S E</p>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="card-img-top">
                        <img class="artist-image img-responsive rounded" src="../../assets/artists/jane.jpg" alt="Card image cap">
                    </div>
                </div>

            </div>
        </div>

        <!-- DjSoHotItByrnes -->
        <div class="card text-center">
            <div class="row">

                <div class="col-12 col-lg-5">
                    <div class="card-img-top">
                        <img class="artist-image img-responsive rounded" src="../../assets/artists/matt.jpg" alt="Card image cap">
                    </div>
                </div>

                <div class="col-12 col-lg-7 text-col">
                    <div class="card-body">
                        <h4 class="card-title">DjSoHotItByrnes feat. Emternet</h4>
                        <p class="card-text">Tim can you please write matts. With visuals from the amazing Emily Scott</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- Ducksasaurus -->
        <div class="card text-center">
            <div class="row">

                <div class="col-12 col-lg-7 text-col">
                    <div class="card-body">
                        <h4 class="card-title">Ducksasaurus</h4>
                        <p class="card-text">Marathon set tech-house winner</p>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="card-img-top">
                        <img class="artist-image img-responsive rounded" src="../../assets/artists/toby.jpg" alt="Card image cap">
                    </div>
                </div>

            </div>
        </div>

        <!-- Hypersleep -->
        <div class="card text-center">
            <div class="row">

                <div class="col-12 col-lg-5">
                    <div class="card-img-top">
                        <img class="artist-image img-responsive rounded" src="../../assets/artists/todd.jpg" alt="Card image cap">
                    </div>
                </div>

                <div class="col-12 col-lg-7 text-col">
                    <div class="card-body">
                        <h4 class="card-title">Hypersleep</h4>
                        <p class="card-text">If you were on his level you would also be sideways</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- Nick Roach -->
        <div class="card text-center">
            <div class="row">

                <div class="col-12 col-lg-7 text-col">
                    <div class="card-body">
                        <h4 class="card-title">Nick Roach</h4>
                        <p class="card-text">Now with 20% more hair gel</p>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="card-img-top">
                        <img class="artist-image img-responsive rounded" src="../../assets/artists/nick.jpg" alt="Card image cap">
                    </div>
                </div>

            </div>
        </div>

        <!-- Pat Hennessy -->
        <div class="card text-center">
            <div class="row">

                <div class="col-12 col-lg-5">
                    <div class="card-img-top">
                        <img class="artist-image img-responsive rounded" src="../../assets/artists/patt.jpg" alt="Card image cap">
                    </div>
                </div>

                <div class="col-12 col-lg-7 text-col">
                    <div class="card-body">
                        <h4 class="card-title">Pat Hennessy</h4>
                        <p class="card-text">Famous for spreading photo of Rob of ostrich</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- Yet variant -->
        <div class="card text-center">
            <div class="row">

                <div class="col-12 col-lg-7  text-col">
                    <div class="card-body">
                        <h4 class="card-title">Yet variant</h4>
                        <p class="card-text">"Does anyone have RCA lead"</p>
                    </div>
                </div>

                <div class="col-12 col-lg-5">
                    <div class="card-img-top">
                        <img class="artist-image img-responsive rounded" src="../../assets/artists/jaydan.jpg" alt="Card image cap">
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
