<div class="row">
    <!--<div class="col-12 offset-lg-1 col-lg-10 image-column">
        <img src="../../assets/land.jpg" class="img-fluid img-thumbnail">
    </div>-->

    <div class="offset-lg-2 col-lg-8 offset-md-1 col-md-10 col-12 offset-12 info-text">
        <p class="brief"><b>After another rotation around the sun the time is upon us once again. Join us for three days and two nights of shenanigans, music and hugs.</b></p>

        <h2>LOCATION</h2>
        <p>This year we have ramped up the boogies and toned down the bush, securing an actual established festival site designed for hosting 3000 people - and we have it all to ourselves!!</p>

        <p>With this site comes proper toilets, hot showers and a beautiful dam (we can actually swim this time).</p>

        <p>Access to the festival grounds will be from 12pm noon on Friday 20th April.</p>

        <p>The location is a 1 hour 15 min drive from Melbourne or alternatively you can catch the train.</p>

        <h2>ARTISTS</h2>
        <p>We have procured a tantalising selection of local artists and musicians to take you on a wholesome and juicy journey.</p>

        <p>Hard work has gone into ensuring a smooth technical, sonic and visual experience. Official festival amenities will be connected to mains power.</p>

        <h2>ACTIVITIES & STIMULATION</h2>

        <ul class="list-group">
            <li class="list-group-item">Cosmic Cinema</li>
            <li class="list-group-item">Toastie Bar</li>
            <li class="list-group-item">Tea Lounge</li>
            <li class="list-group-item">Art Shack</li>
            <li class="list-group-item">Swimming</li>
            <li class="list-group-item">Art Installations</li>
            <li class="list-group-item">Goon Saloon</li>
        </ul>

        <h2>WHAT TO BRING</h2>

        <ul class="list-group">
            <li class="list-group-item">Foood</li>
            <li class="list-group-item">Water</li>
            <li class="list-group-item">Cooking utensils & stoves</li>
            <li class="list-group-item">Ingredients for Toastie Bar or $2 to buy a toastie from our head toastie chef</li>
            <li class="list-group-item">Tent & Sleeping Equipment</li>
            <li class="list-group-item">Alcohol</li>
            <li class="list-group-item">Cans over glass bottles</li>
            <li class="list-group-item">Clothes for all seasons</li>
            <li class="list-group-item">Minimal landfill</li>
            <li class="list-group-item">Bio-glitter</li>
            <li class="list-group-item">Pets Allowed</li>
            <li class="list-group-item">Good spirits & friendly attitudes</li>
            <li class="list-group-item">Quality friends</li>
            <li class="list-group-item">Comfy seating such as couches, hammocks, rugs</li>
            <li class="list-group-item">Torches</li>
            <li class="list-group-item">Medicine</li>
            <li class="list-group-item">Sunscreen, Sunglasses & Sun hat</li>
            <li class="list-group-item">Insect Repellent</li>
            <li class="list-group-item">Bathers & Towel</li>
            <li class="list-group-item">Car chargers & battery packs - no power for you :(</li>
            <li class="list-group-item">Hula Hoop</li>
            <li class="list-group-item">Any decorations & fairy lights</li>
        </ul>

        <h2>WHAT NOT TO BRING</h2>

        <ul class="list-group">
            <li class="list-group-item">Fuckwits</li>
            <li class="list-group-item">Cats</li>
            <li class="list-group-item">Anything that requires mains power</li>
        </ul>

        <h2>COSTS</h2>

        <p>While this year’s costs are a little higher than last year they come with 57 times the value - so don’t hesitate we promise you this one will be the best one yet!! Ticket price includes land hire, toilets, showers and venues on-site staff (required). There is no time cutoff for music and no neighbours! No curfew.</p>
        <p>Tickets are one size fits all. $42.50 + $1 booking fee (credit card fees) for General Admission. Three days, two nights camping, car access and unlimited hot showers.</p>

    </div>
</div>
